{% load static %}
<link rel="stylesheet" href="{% static 'global/css/_footer.css' %}">

<div class="footer">
    <div class="footer-container">
        <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi asperiores cum a non fugit veniam perspiciatis? Deleniti odit vero aspernatur consectetur accusantium. Fugit sint amet rem maxime quos facilis nostrum!
        Sunt quam blanditiis exercitationem eum iste! A et, quo incidunt ex provident earum suscipit, perferendis sunt cum accusantium maiores. A distinctio inventore at consectetur aliquid, voluptatibus atque impedit nam repellendus!</p>
        <ul class="foodter-contato">
            <li><a href="#">contato@consulta.me</a></li>
            <li><a href="#">21 3656-9878</a></li>
            <li><a href="#">Nosso Insta</a></li>
            <li><a href="#">Nosso Linkedin</a></li>
        </ul>
        <p class="footer-copy">Consulta.me. Alguns direitos reservados.</p>
    </div>
</div>