@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #0210cede, #2ffd51);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: brilho 3s ease-in-out infinite;
  margin: 50px 0;
  text-shadow: 0 0 10px rgba(0, 201, 255, 0.3);
}

@keyframes brilho {
  0%, 100% {
    text-shadow: 0 0 10px rgba(0, 201, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 20px rgba(0, 201, 255, 0.6);
  }
}
