


{% comment %} 
<h1>Listagem de pacientes</h1>
{% block conteudo %}

    {% for i in pacientes %}
        {{i.nome }} <br>  Utilizando interpolação (Acessando um obj e um atributo) 

    {% endfor %}

{% endblock conteudo %} {% endcomment %}


{% block conteudo %}
    <div class="responsive-table">
        <table class="pacientes-tabel">
            <caption class="table-caption">
                Listagem de pacientes
            </caption>

            <thead>
                <tr class="table-row" class="tabel-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">Sobrenome</th>
                    <th class="table-header">Email</th>
                    <th class="table-header">Telefone</th>
                    <th class="table-header">Imagem</th>
                </tr>
            </thead>
            
            <tbody>
                {% for paciente in pacientes %}
                    <tr class="table-row">
                        {% comment %} <td class="table-cel"> <a href=f"{{ i.id }}.html" class="table-link"></a></td> {% endcomment %}
                        <td class="table-cel"> <a  class="table-link" href="{% url 'sistema:perfil_paciente' paciente.id %}">{{ paciente.id }}</a></td>
                        <td class="table-cel"> {{ paciente.nome }}</td>
                        <td class="table-cel"> {{ paciente.sobrenome }}</td>
                        <td class="table-cel"> {{ paciente.email }}</td>
                        <td class="table-cel"> {{ paciente.telefone }}</td>
                        <td class="table-cel">
                            {% if  paciente.imagem %}
                                <img src="{{paciente.imagem.url}}" alt="imagem do paciente" style="max-height: 80px;">
                            {% else %} 
                            sem imagem
                            {% endif %}
                        </td>
                    </tr> 
                    



                {% endfor %}
            </tbody>



        </table>
    </div>
{% endblock conteudo %}

