


{% comment %} 
<h1>Listagem de pacientes</h1>
{% block conteudo %}

    {% for i in pacientes %}
        {{i.nome }} <br>  Utilizando interpolação (Acessando um obj e um atributo) 

    {% endfor %}

{% endblock conteudo %} {% endcomment %}


{% block conteudo %}
    <div class="responsive-table">
        <table class="pacientes-tabel">
            <caption class="table-caption">
                Listagem de pacientes
            </caption>

            <thead>
                <tr class="table-row" class="tabel-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Nome</th>
                    <th class="table-header">Sobrenome</th>
                    <th class="table-header">Email</th>
                    <th class="table-header">Telefone</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in pacientes %}
                    <tr class="table-row">
                        <td class="table-cel"> {{ i.id }}</td>
                        <td class="table-cel"> {{ i.nome }}</td>
                        <td class="table-cel"> {{ i.sobrenome }}</td>
                        <td class="table-cel"> {{ i.email }}</td>
                        <td class="table-cel"> {{ i.telefone }}</td>
                    </tr> 
                    



                {% endfor %}
            </tbody>



        </table>
    </div>
{% endblock conteudo %}

